.App {
  text-align: center;
  background-color: #ffc885;
  background-image: url("https://i.imgur.com/sMUuIoE.gif");
  /* background-repeat: repeat; */
  background-size: cover;
  /* height: 115vh; */
  cursor: url('https://i.imgur.com/dvL8hi0.png'), auto;
}
header {
  margin-top: 10px;
}

.header-text {
  font-family: 'Bonbon', cursive;
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
  /* text-shadow: 0 0 5px #ffc885, 0 0 10px #ffc885;
  color: #bbfcf9; */
  /* text-shadow: 0 0 5px #bbfcf9, 0 0 10px #bbfcf9; */
  text-shadow: 0 0 5px #6a02fa, 0 0 10px #bbfcf9;
  color: #ffc885;
  font-size: 60px;
}

/* Scroll Bar */

.scroll-bar {
  overflow: hidden;
  height: 40px;
  width: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scroll-text {
  color: #f3f3f3;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  width: 13000px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  
  -moz-animation: my-animation 40s linear infinite;
  -webkit-animation: my-animation 40s linear infinite;
  animation: my-animation 40s linear infinite;
} 

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(30px); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(30px); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
} 


/* Nav */

.nav {
  display: flex;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 4px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  justify-content: center;
  width: 500px;
  /* background-color: rgba(255, 200, 133, 0.3); */
  background-color: rgba(255, 200, 133);

}

.link {
  margin: 5px;
  font-family: 'Roboto Mono', monospace;
}

/* Home */

.Home {
  height: 115vh;
  margin-top: 100px;
}

/* Blog */

.posts {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 3px;
  width: 600px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  color: #6a02fa;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
    /* color: #bbfcf9; */
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #6a02fa */
}

/* Comments */

.comments {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 3px;
  width: 500px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(252, 249, 220, 0.3);
}

.comment-text {
  font-family: 'Dancing Script', cursive;
}

.change-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-button, .submit-button, .twigz-button {
  margin-right: 5px;
  border-style: double;
  border-width: 2px;
  border-color: #6a02fa;
  background-color: #bbfce0;
  height: 24px;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
}

.text-box {
  margin-right: 5px;
  border-style: inset;
  border-width: 1.5px;
  border-color: #f3f3f3;
  background-color: #dcfcee;
  height: 30px;
  text-align: start;
}

.add-new-comment {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.new-comment {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 3px;
  width: 500px;
  text-align: left;
  background-color: rgba(255, 200, 133, 0.3);
}

.new-comment-field {
  display: flex;
  align-items: flex-end;
}

/* Videos */

.Videos {
  height: 100vh;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  margin: 30px;
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 40px;
  max-height: 700px;
}

.indv-video {
  margin: 5px;
}

/* Gallery */

.Gallery-page {
  /* height: 200vh; */
  height: auto;
}

.gallery-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  margin: 30px;
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 40px;
  max-height: 1200px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: auto;
}

.gallery-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.galleryImage {
  border-style: solid;
  border-color: #bbfcf9;
  border-width: 3px;
}

/* Twigz Maker */

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  margin-right: 150px;
  height: 70vh;
}

#twigz{
  position:absolute;
  width: 189px;
  height: 338px;
  background-image: url("https://i.imgur.com/Bh6zcpw.png");
  background-repeat: no-repeat;
}

#hair, #clothes, #hats{
  position:absolute;
  width:189px; 
  height:338px;
}

.hair1{
  background-image: url(https://i.imgur.com/7PU0Yoh.png);
}

.hair2{
  background-image: url(https://i.imgur.com/312EaQd.png);
}

.hair3{
  background-image: url(https://i.imgur.com/a6KFosd.png);
}

.hair4{
  background-image: url(https://i.imgur.com/7Ot9get.png);
}

.clothes1{
  background-image: url(https://i.imgur.com/s38p1mv.png);
}

.clothes2{
  background-image: url(https://i.imgur.com/bgK3p3A.png);
}

.clothes3{
  background-image: url(https://i.imgur.com/wyYFPNR.png);
}

.clothes4{
  background-image: url(https://i.imgur.com/PLXtYhC.png);
}

.hats1{
  background-image: url(https://i.imgur.com/7PU0Yoh.png);
}

.hats2{
  background-image: url(https://i.imgur.com/4KMEEIJ.png);
}

.hats3{
  background-image: url(https://i.imgur.com/ZJVt6k6.png);
}

.twigz-button{
  margin-left: 100px;
  position: relative;
}

.all-twigz-buttons{
  display: flex;
  margin-top: 366px;
  margin-left: 100px;
}