.App {
  text-align: center;
  background-color: #ffc885;
  background-image: url("https://i.imgur.com/sMUuIoE.gif");
  /* background-repeat: repeat; */
  background-size: cover;
  /* height: 115vh; */
}
header {
  color: #ffc885
}
.nav {
  display: flex;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 4px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  justify-content: center;
  width: 500px;
}

.link {
  margin: 5px;
}

.header-text {
  font-family: 'Bonbon', cursive;
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
  /* text-shadow: 0 0 5px #ffc885, 0 0 10px #ffc885;
  color: #bbfcf9; */
  /* text-shadow: 0 0 5px #bbfcf9, 0 0 10px #bbfcf9; */
  text-shadow: 0 0 5px #6a02fa, 0 0 10px #bbfcf9;
  color: #ffc885;
  font-size: 60px;
}

/* Blog */

.posts {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 3px;
  width: 600px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  color: #6a02fa;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
    /* color: #bbfcf9; */
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #6a02fa */
}

/* Comments */

.comments {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 3px;
  width: 500px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(252, 249, 220, 0.3);
}

.comment-text {
  font-family: 'Dancing Script', cursive;
}

.change-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-button {
  margin-right: 5px;
  border-style: double;
  border-width: 2px;
  border-color: #6a02fa;
  background-color: #bbfce0;
  height: 24px;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
}

.text-box {
  margin-right: 5px;
  border-style: inset;
  border-width: 1.5px;
  border-color: #f3f3f3;
  background-color: #dcfcee;
  height: 30px;
}

.add-new-comment {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

.new-comment {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-style: dotted;
  border-color: #f3f3f3;
  border-width: 3px;
  width: 500px;
  text-align: left;
  background-color: rgba(255, 200, 133, 0.3);
}

.new-comment-field {
  display: flex;
  align-items: flex-end;
}

/* TwigzMaker */

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: auto;

  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}

.flexbox .maker {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #313131;

  padding: 15px;
}

.flexbox .maker .doll {
  padding: 15px 25px;
  background-color: #f3f3f3;

  cursor: pointer;
  margin-bottom: 15px
} 